.idea/config/applicationhost.config

.vs/ProjectEvaluation/

.vs/Quoter/

Quoter.Api/bin/

Quoter.Api/obj/

*.dll

*.exe

*.cache

*.vsidx

*.props

*.info

*.targets

.idea/.idea.Quoter/.idea/


Quoter.Tests/obj/

Quoter.Tests/bin/