

.idea/config/applicationhost.config

.vs/ProjectEvaluation/quoter.metadata.v7.bin

.vs/ProjectEvaluation/quoter.projects.v7.bin

.vs/Quoter/config/applicationhost.config

.vs/Quoter/DesignTimeBuild/.dtbcache.v2

.vs/Quoter/FileContentIndex/*

.vs/Quoter/v17/.futdcache.v2

.vs/Quoter/v17/.suo

.vs/Quoter/v17/DocumentLayout.json

Quoter.Api/bin/

Quoter.Api/obj/

*.dll

*.exe

*.cache

*.vsidx

*.props

*.info

*.targets

.idea/.idea.Quoter/.idea/


Quoter.Tests/obj/

Quoter.Tests/bin/